/* .App{
     margin: 10px; 
}
.navigation{
    width: 100%;
}
.container-fluid{
    color: black;
     margin: 10px; 
  }
 
  .nav-link{
    margin-bottom: 20px;
  }
  .nav-link i {
    align-items: flex-start;
    color:white;
  
  }
  .row{
      display: flex;
     margin: 10px; 
      width: 200px;
  } 
  */
  .edu-card{
    display: flex;
    margin: 10px;
}