.App {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition-duration: 0.4s;
    float: left;
  }
  
  a:hover, a:active {
    background-color: #3CBC8D;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  */
input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 8px;
  color: white;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 8px;
  color: rgb(7, 7, 7);
}
input[type="text"]:focus {
  border: 3px solid #555;
}
input[type="submit"] {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 250px;
  border-radius: 8px;
}
.App {
  text-align: center;
  background-color: #fff;
}


.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.form-control{
  font-size: 18px;
  background-color: #31C9DE;
  text-align: left;
  font-weight: 500;
  color: black;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  font-size: 30px;
  color: rgb(34, 34, 34);
  font-weight: 650;
}
.Auth-form-subtitle{
  text-align: center;
  margin-bottom: 1em;
  font-size: 15px;
  color: rgb(34, 34, 34);
}
.owners{
  display:flex;
  justify-content: center;

}