  .card-img-top {
    display: inline-block;
    top: 0px;
    margin: 0px;
    object-fit: cover;
    height: 150px;
    width: 50px; 
    border-radius: 0.25rem;
  }
  
  h4 {
  color: #2F4454 ;
  font-size: 20px;
  }
  
  .contain{
    display: block;
    margin:  0 auto;
    column-count: 3;
    column-gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

  } 

